

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* src/App.css */
.App {
  text-align: center;
  padding: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* src/components/NewsList.css */
.loading {
  font-size: 18px;
  margin-top: 20px;
}

.error {
  font-size: 18px;
  margin-top: 20px;
  color: red;
}

.news-list {
  list-style-type: none;
  padding: 0;
}

.news-list li {
  margin-bottom: 10px;
}

.news-list li a {
  color: #007bff;
  text-decoration: none;
}

.news-list li a:hover {
  text-decoration: underline;
}
